<html>
<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
  <script src="/static/js/blockly_compressed.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet"/>

  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
</head>
<body>
  <div id="left-pane" class="split split-horizontal">
    <div id="map"></div>
  </div>
  <div id="right-pane" class="split split-horizontal">
    <div id="editor" class="split">
      <div id="editor-bar">
        <h1 class="label mdc-typography--headline6">Editor</h6>
        <button id="run-button" class="mdc-button mdc-button--outlined mdc-button--dense">Run</button>
      </div>
      <iframe id="blockly-area" class="split"></iframe>
    </div>
    <div id="console" class="split">
      <div id="console-bar">
        <h1 class="label mdc-typography--headline6">Console</h6>
      </div>
      <div id="console-entries">
        <p>> Use the "Print" block to write to this console!</p>
      </div>
    </div>
  </div>
  <div id="blockly-div" style="position: absolute;"></div>
  <xml id="toolbox" style="display: none">
    {% for group, blocks in special_groups|dictsort -%}
    <category name="{{group}}">
      {% for type, block in blocks|dictsort -%}
      <block type="{{type}}"></block>
      {%- endfor %}
    </category>
    {%- endfor %}
    <sep></sep>
    {% for group, blocks in algorithm_groups|dictsort -%}
    <category name="{{group}}">
      {% for type, block in blocks|dictsort -%}
      <block type="{{type}}"></block>
      {%- endfor %}
    </category>
    {%- endfor %}
  </xml>
  <script>
    {%- autoescape false -%}
    {%- for group, blocks in all_groups|dictsort -%}
    {% for type, block in blocks|dictsort %}
    Blockly.Blocks["{{type}}"] = {
      init: function() {
        this.jsonInit({{json.dumps(block, sort_keys=True)}});
      }
    };
    {%- endfor %}
    {%- endfor %}
    {%- endautoescape %}
  </script>

  <script src="/static/js/init.js"></script>
  <script src="/static/js/build.js"></script>
  <script>
    var xml = Blockly.Xml.textToDom(''
      + '<xml>'
      + '  <block type="Print">'
      + '    <value name="value">'
      + '      <block type="String">'
      + '        <field name="value">text</field>'
      + '      </block>'
      + '    </value>'
      + '  </block>'
      + '</xml>');
    Blockly.Xml.domToWorkspace(xml, workspace);

    var consoleEntries = document.getElementById("console-entries");
    document.getElementById("run-button").onclick = function() {
      clearConsole();

      var topBlocks = workspace.getTopBlocks();
      for (var i = 0; i < topBlocks.length; i++) {
        if (topBlocks[i].type == "Print") {
          var expression = buildExpression(
            topBlocks[i].inputList[0].connection.targetBlock());
          (function() {
            var p = addConsoleEntry("Computing...");
            computeValue(expression)
              .then(response => response.json())
              .catch(error => console.error(error))
              .then(response => {
                changeConsoleEntryText(p, JSON.stringify(response["result"]));
                console.log(response);
              });
          })();
        }
      }
    };

    var clearConsole = function() {
      // Removes all nodes after the first. I don't know why there are 3
      // children by default, but there are...
      while (consoleEntries.childNodes.length > 3) {
        consoleEntries.removeChild(consoleEntries.childNodes[3]);
      }
    }

    var addConsoleEntry = function(text) {
      var p = document.createElement("p");
      var node = document.createTextNode("> " + text);
      p.appendChild(node);
      consoleEntries.append(p);
      return p;
    }

    var changeConsoleEntryText = function(p, text) {
      p.firstChild.nodeValue = "> " + text;
    }

    var computeValue = function(expression) {
      return fetch("http://localhost:5000/v1/value:compute", {
        method: "POST",
        body: JSON.stringify({"expression": expression}),
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*"
        }
      });
    }
  </script>
</body>
</html>
